{% extends 'base.html.twig' %}

{% block body %}

    <h3>Ajouter une nouvelle catégorie</h3>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    {% for message in app.flashes('success') %}
        <h4> {{ message }} </h4>
    {% endfor %}
    <h3>Les catégories du site</h3>

    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
        {% for cat in category %}
            <td>{{ cat.id }}</td>
            <td><a href="{{ path('blog_category',{'name':cat.name}) }}">{{ cat.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}