{% extends 'base.html.twig' %}

{% block title %}
    {{ 'blog.index' | trans }}
{% endblock %}


{% block body %}

    <h2>{{ 'all.articles' | trans }}</h2>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} </h2>
            <h4> - {{ 'category.name' | trans }} </h4>
            {{ article.category.name }}
            <h4> - {{ 'tags.name' | trans }} </h4>
            {% for tag in article.tags %}
                {{ tag.name }}
            {% endfor %}
            <h4> - {{ 'content.name' |trans }} </h4>
            <p>{{ article.content }}</p>
        </div>
        <a class="btn btn-primary" href="{{ path('blog_article',{'slug': article.slug, 'id': article.id}) }}">Go !</a>
    {% else %}
        {{ 'article.not.found' | trans }}
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('app_index') }}">
        {{ 'back.home' | trans }}
    </a>

{% endblock %}
