{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_AUTHOR') %}
        <a href="{{ path('article_edit', {'slug': article.slug, 'id': article.id} ) }}">Éditer</a>
    {%endif%}
    <div>
        <h1>Article's title : {{ article.title }}</h1>
        <h2>Category : {{ category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>

    <a href="{{ path('app_index') }}">
        Back to homepage</a>

    <div>

        <strong>Tags :</strong>
        <ul>
            {% for tag in article.tags %}
                <a href="{{ path('tag_show', {'name': tag.name}) }}"> <li>{{ tag.name }} </li> </a>
            {% else %}
                <li>No tags for this article</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}