{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>{{ 'welcome' | trans }}</h1>

    <div>
    <a href="{{ path('blog_index') }}">
        {{ 'all.articles' | trans }}
    </a>
    </div>

    <div>
    <a href="{{ path('category_index') }}">{{ 'all.categories' | trans }}</a>
    </div>

    <div>
    <a href="{{ path('tag_index') }}">{{ 'all.tags' |trans }}</a>
    </div>

{% endblock %}